@media screen and (min-width: 1440px) {
  .section {
    padding-top: 130px;
  }

  .section .section__title {
    margin-bottom: 26px;

    font-size: 44px;
  }

  .section--padding-bottom {
    padding-bottom: 130px;
  }

  .container {
    max-width: 1281px;
    padding: 0 10px;
  }

  .hero__container {
    width: 1184px;
    padding: 0 10px;
  }

  .gallery-container {
    max-width: 1460px;
  }

  .logo {
    width: 180px;
    margin-left: 48px;
  }

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-list {
    display: flex;
    gap: 32px;
  }

  @media screen and (min-width: 1440px) {
    .hero {
      padding: 274px 0 80px;

      background-image: linear-gradient(0deg, #402b2250 0%, #402b2250 100%),
        url(../images/overlay-lg1440.jpg);

      max-width: 1440px;
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: url(../images/overlay-lg2880.jpg);
      }
    }
  }

  .hero__title {
    width: 792px;
    margin-bottom: 40px;

    font-size: 42px;
    line-height: calc(52 / 42);
  }

  .hero__button {
    margin-bottom: 120px;
    padding: 0 62px;

    height: 60px;

    line-height: calc(36 / 20);
  }

  .benefits-list {
    flex-direction: row;
  }

  .benefits-list__item:first-child {
    gap: 21px;
  }

  .benefits-list__image-thumb {
    width: 70px;
    height: 70px;
  }

  .benefits-list__text {
    font-size: 20px;
  }

  .benefits-section__text {
    width: 100%;

    margin-bottom: 40px;

    font-size: 16px;
    line-height: calc(24 / 16);
  }

  .benefits-section-list__item {
    padding-left: 40px;
  }

  .benefits-section-list__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .benefits-section-list__title {
    margin-bottom: 24px;

    font-size: 24px;
  }

  .benefits-section-list__text {
    line-height: calc(28 / 18);
  }

  .benefits-section__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .section-info__left,
  .benefits-section__gallery {
    flex-basis: calc((100% - 20px) / 2);
  }

  .catalog-section__title {
    width: 199px;

    margin-bottom: 40px;
    padding-bottom: 20px;
  }

  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .catalog-list__item {
    flex-basis: calc((100% - 40px) / 3);
  }

  .catalog-list__image-thumb {
    width: 407px;
  }

  .catalog-list__title {
    font-size: 22px;

    width: 300px;
  }

  .catalog-list__button {
    height: 44px;
  }

  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .slick-slider {
    display: none;
  }

  .controls {
    display: none;
  }

  .cooperation__container {
    display: flex;
    align-items: center;

    justify-content: space-between;
  }

  .cooperation__text {
    width: 556px;

    font-size: 22px;
    line-height: calc(28 / 22);
  }

  .cooperation__image-thumb {
    width: 513px;
    height: 382px;
  }

  .cooperation__image-thumb::before {
    top: 0;
    right: -98px;
    width: 101px;
  }

  .cooperation__image-thumb::after {
    left: -837px;
    width: 840px;
  }

  .footer {
    padding: 41px 0 30px;
  }

  .footer__logo {
    margin-bottom: 76px;
  }

  .socials-list {
    gap: 25px;

    margin-bottom: 26px;
  }

  .price-modal {
    width: 900px;
    padding: 114px 0 82px 167px;
  }

  .price-modal__close-button {
    top: 40px;
    left: 60px;
  }

  .price-modal__title {
    width: 100%;
    font-size: 24px;

    margin-bottom: 36px;
  }

  .price-modal__line {
    display: none;
  }

  .contacts-form {
    width: 407px;
  }

  .contacts-form__field:first-child,
  .contacts-form__field {
    margin-bottom: 36px;
  }

  .contacts-form__input {
    height: 55px;
  }

  .contacts-form__label {
    font-size: 20px;

    margin-bottom: 18px;
  }

  .license-field {
    margin-bottom: 20px;
  }

  .license-text {
    font-size: 12px;
  }

  .contacts-form__button {
    height: 60px;

    font-size: 20px;
    line-height: calc(36 / 20);
  }

  .catalog-modal {
    height: auto;
    width: 1046px;

    padding: 70px 45px 93px;
  }

  .catalog-modal__image-thumb {
    width: 405px;
    height: 230px;
    margin: 0 auto 30px;
  }

  .catalog-modal__title {
    width: auto;
    margin-bottom: 20px;

    font-size: 24px;
    text-align: center;
  }

  .sizes-title {
    margin-bottom: 36px;

    font-size: 22px;
  }

  .sizes-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .sizes-list__item:not(:last-child) {
    margin-bottom: 0;
  }

  .sizes-list__title {
    font-size: 22px;
  }

  .heets-list__text {
    font-size: 18px;
  }

  .catalog-modal__button {
    height: 44px;
    padding: 0 32px;

    font-size: 20px;
  }

  .cooperation-modal {
    width: 900px;
    padding: 78px 120px 104px;
  }
  .cooperation-modal__close-button {
    top: 29px;
    left: 60px;
  }

  .cooperation-modal__line {
    width: auto;
  }

  .cooperation-modal__title {
    margin-bottom: 20px;

    font-size: 44px;
  }

  .cooperation-form {
    width: 566px;
    margin: 0 auto;
  }

  .radio-list {
    margin-bottom: 36px;
  }

  .radio-list__item:not(:last-child) {
    margin-bottom: 46px;
  }

  .radio-list__title {
    margin-bottom: 18px;
  }

  .radio-list__title--margin {
    margin-bottom: 28px;
  }

  .radio-list__fields {
    flex-direction: row;
  }

  .radio-list__fields {
    gap: 146px;
  }

  .radio-list__field:not(:last-child) {
    margin: 0;
  }

  .radio-list__fields--gap {
    gap: 112px;
  }

  .textarea-label {
    width: auto;
    margin-bottom: 18px;

    font-size: 20px;
  }

  .cooperation-form__textarea {
    height: 165px;
  }

  .textarea-field {
    margin-bottom: 36px;
  }

  .textarea-field--margin {
    margin-bottom: 40px;
  }

  .credentials-list {
    margin-bottom: 36px;
    width: 407px;
  }

  .credentials-list__item:not(:last-child) {
    margin-bottom: 36px;
  }

  .credentials-list__label {
    margin-bottom: 18px;

    font-size: 20px;
  }

  .cooperation-form__button {
    height: 60px;

    font-size: 20px;
    line-height: calc(36 / 20);
  }
}

@media screen and (max-width: 1439px) {
  .catalog-list__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .cooperation__left-side {
    margin-bottom: 50px;
  }
  .footer__logo {
    width: 131px;
  }

  .socials-list__icon {
    width: 17px;
    height: 17px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/overlay-sm750.jpeg);
  }
}
