.price-modal {
  padding: 70px 16px 66px;
}

.price-modal__close-button {
  position: absolute;
  top: 30px;
  left: 30px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.price-modal__title {
  width: 289px;
  margin: 0 auto 12px;

  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.418px;
  text-transform: uppercase;

  color: #1e1e1e;
}

.cooperation-modal__line,
.price-modal__line {
  display: block;
  height: 1px;
  background-color: #402b22;

  margin-bottom: 60px;
}

.price-modal__line {
  margin-bottom: 60px;
}

.cooperation-modal__line {
  width: 288px;
  margin: 0 auto 32px;
}

.contacts-form__field {
  display: flex;
  flex-direction: column;
}

.contacts-form__field:first-child {
  margin-bottom: 18px;
}

.contacts-form__field--margin {
  margin-bottom: 30px;
}

.contacts-form__label {
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 500;
}

.contacts-form__input {
  height: 44px;

  border: 1px solid #000;
  background-color: transparent;
}

.license-field {
  position: relative;

  display: flex;

  padding-left: 30px;
  margin-bottom: 16px;

  cursor: pointer;
  user-select: none;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 1px solid #000;

  transform: translateY(-50%);
}

.license-field:hover ~ .checkmark {
  background-color: #ccc;
}

.license-field input:checked ~ .checkmark {
  background-color: #402b22;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.license-field input:checked ~ .checkmark:after {
  display: block;
}

.license-field .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.license-text {
  width: 265px;

  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 150%;
}

.contacts-form__button {
  padding: 0 52px;
  height: 44px;

  font-size: 16px;
  line-height: calc(36 / 16);
}

.catalog-modal {
  padding: 90px 16px 34px;

  height: 70%;
}

.catalog-modal__close-button {
  position: absolute;
  top: 30px;
  left: 30px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.catalog-modal__image-thumb {
  height: 200px;

  margin-bottom: 22px;
  border-radius: 6px;
  overflow: hidden;
}

.catalog-modal__title {
  width: 259px;
  margin-bottom: 28px;

  font-size: 20px;
  font-weight: 500;

  color: #402b22;
}

.sizes-title {
  margin-bottom: 18px;

  font-size: 18px;
  font-weight: 600;
}

.sizes-list {
  margin-bottom: 40px;
}

.sizes-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.sizes-list__title {
  font-size: 18px;
  font-weight: 500;

  margin-bottom: 14px;
}

.sheets-list__item:not(:last-child) {
  margin-bottom: 14px;
}

.sheets-list__text {
  font-size: 16px;
  margin-bottom: 0;
}

.catalog-modal__button {
  padding: 0 52px;
  height: 43px;

  font-size: 16px;
}

.cooperation-modal {
  padding: 60px 16px 57px;
  height: 70%;

  overflow: scroll;
}

.cooperation-modal__title {
  margin-bottom: 13px;

  text-align: center;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;

  color: #402b22;
}

.radio-list {
  margin-bottom: 30px;
}

.radio-list__item:not(:last-child) {
  margin-bottom: 40px;
}

.radio-list__title {
  margin-bottom: 22px;

  font-size: 18px;
  font-weight: 500;
}

.radio-list__fields {
  display: flex;
  flex-direction: column;
}

.radio-list__field:not(:last-child) {
  margin-bottom: 12px;
}

.radio-list__label {
  font-size: 18px;
  line-height: calc(28 / 18);
}

.credentials-list {
  margin-bottom: 30px;
}

.credentials-list__field {
  display: flex;
  flex-direction: column;
}

.credentials-list__item:not(:last-child) {
  margin-bottom: 18px;
}

.credentials-list__label {
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 500;
}

.credentials-list__input {
  height: 44px;

  background-color: transparent;
  border: 1px solid #000;
}

.textarea-field {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.textarea-label {
  width: 287px;
  margin-bottom: 12px;

  font-size: 18px;
  font-weight: 500;
}

.textarea-label--margin {
  margin-bottom: 18px;
}

.cooperation-form__textarea {
  height: 130px;

  background-color: transparent;
  border: 1px solid #000;
  resize: none;
}

.cooperation-form__button {
  height: 44px;
  padding: 0 52px;

  font-size: 16px;
  line-height: calc(36 / 16);
}

.cooperation-modal__close-button {
  position: absolute;
  top: 19px;
  left: 30px;

  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}
