.hero__container {
  padding: 0 21px 0 22px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  border-bottom: 1px solid #e7e7e7;

  transition: background-color 150ms linear;
}

.header--transparent {
  background-color: #402b2265;
  backdrop-filter: blur(4px);
}

.logo {
  width: 131px;
}

.main-nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: none;
}

.nav-link {
  display: inline-block;
  padding: 29px 0;

  color: #fff;
  font-family: "Rasa", serif;
  font-size: 20px;
  font-weight: 400;

  transition: color 200ms linear;
}

.hero {
  padding: 156px 0 50px;

  background-image: linear-gradient(0deg, #402b2250 0%, #402b2250 100%),
    url(../images/overlay-sm375.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  max-width: 375px;
  margin: 0 auto;
}

.hero__title {
  margin-bottom: 26px;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: calc(32 / 26);

  color: #fff;
}

.hero__button {
  margin-bottom: 50px;
  padding: 0 52px;

  height: 52px;

  font-size: 17px;
  line-height: calc(36 / 17);
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.benefits-list__item {
  display: flex;
  align-items: center;

  gap: 14px;
}

.benefits-list__image-thumb {
  width: 50px;
  height: 50px;
}

.benefits-list__text {
  margin-bottom: 0;

  font-size: 17px;
  font-weight: 500;

  color: #fbf7ef;
}

.benefits-section__content {
  display: flex;
  gap: 20px;
}

.benefits-section__title {
  margin-bottom: 12px;
}

.benefits-section__text {
  width: 299px;

  margin-bottom: 36px;

  font-size: 14px;
  line-height: calc(24 / 14);
}

.benefits-section-list__item {
  padding-left: 12px;
  border-left: 1px solid #402b22;
}

.benefits-section-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits-section-list__title {
  margin-bottom: 14px;

  font-size: 20px;
  font-weight: 500;
}

.benefits-section-list__text {
  margin: 0;

  line-height: calc(24 / 18);
}

.benefits-section__gallery {
  display: none;
}

.catalog-section__title {
  width: 145px;
  margin: 0 auto;

  margin-bottom: 30px;
  padding-bottom: 12px;

  border-bottom: 1px solid #402b22;
}

.catalog-list__image-thumb {
  margin-bottom: 12px;

  height: 313px;

  border-radius: 6px;
  overflow: hidden;
}

.catalog-list__title {
  font-size: 20px;
  font-weight: 500;

  margin-bottom: 18px;
  width: 267px;
}

.catalog-list__button {
  height: 39px;
  padding: 0 32px;
}

.gallery-list {
  display: none;
}

.controls {
  display: flex;
  justify-content: flex-end;
  gap: 158px;

  margin-top: 25px;
}

.prev,
.next {
  display: block;
  width: 5px;
  height: 5px;
  border-top: 1.4px solid #000;
  border-left: 1.4px solid;

  cursor: pointer;
}

.prev {
  transform: rotate(-45deg);
}
.next {
  transform: rotate(135deg);
}

.prev::after,
.next::after {
  content: "";
  display: block;
  width: 1px;
  background-color: black;
  left: 0;
  top: 0;
}

.prev::after {
  height: 46px;
  transform: rotate(-45deg) translate(16px, 6px);
}

.next::after {
  height: 92px;
  transform: rotate(-45deg) translate(32px, 13px);
}

.cooperation-section__title {
  margin-bottom: 18px;
}

.cooperation__text {
  margin-bottom: 30px;

  font-size: 15px;
  line-height: calc(24 / 15);
}

.cooperation__button {
  height: 48px;
  padding: 0 32px;
}

.cooperation__image-thumb {
  position: relative;

  height: 375px;

  border: 1px solid #000;
  border-radius: 6px;
}

.cooperation__image-thumb::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -895px;
  width: 900px;
  height: 1px;
  background-color: #000;

  display: inline-block;
}

.cooperation__image-thumb::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -837px;
  width: 840px;
  height: 1px;
  background-color: #000;

  display: inline-block;
}

.footer {
  padding: 30px 0 40px;

  background-color: #402b22;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin-bottom: 30px;
}

.socials-list {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-bottom: 91px;
}

.socials-list__link {
  color: #fff;
  transition: color 200ms linear;
}

.socials-list__icon {
  fill: currentColor;
}

.copyright {
  color: #fff;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  line-height: calc(32 / 12);

  margin: 0;
}
